<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Create an Account</h1></br>

        {{#if hasErrors}}
        <div class="alert alert-danger">
            {{# each messages }}
            <p>{{this}}</p>
            {{/each}}
        </div>
        {{/if}}

        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Ex. John Doe">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="Ex. john@gmail.com">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" name="city" class="form-control" placeholder="Ex. Delhi">
            </div>
            
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" id="state" name="state" class="form-control" placeholder="Ex. Delhi">
            </div>
            
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            </br>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>

    </div>
</div>